.link ul li a {
    color: black !important;
}
.container .form {
    border-left: 2px solid black !important;
    color: black !important;
}
.container .link i {
    font-size: 20px !important;
    color: black !important;
}